@import "reset.css";
@import "jquery.fancybox-1.3.4.css";
@import "grid.css";
/* Getting the new tags to behave */
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video {
display:block;
}
mark,rp,rt,ruby,summary,time {
display:inline;
}
/*global*/
body {
position:absolute;
font:12px/18px Tahoma, sans-serif;
color:#b8b8b8;
min-width: 1200px;
min-height:1000px;
width:100%;
height:100%;
overflow:hidden;
z-index:1;
}
body p a {
text-decoration:none;
}
body p a:hover {
text-decoration:underline;
}
h1 {
position: relative;
margin: 0 0 0 -128px;
}
h1>a{
position:relative;
display:inline-block;
text-indent: -99999px;
white-space: nowrap;
overflow: hidden;
width: 527px;
height: 338px;
background: url(../images/logo.png) 0 no-repeat;
}
h2 {
position: relative;
display: inline-block;
font: 30px/1.2em 'PT Sans Narrow', sans-serif;
color: #fff;
text-transform: uppercase;
padding-bottom: 25px;
}
h3 {
font: bold 13px/1.2em Tahoma, sans-serif;
color: #fff;
text-transform: uppercase;
}
h3>a{
color: inherit;
}
h3>a:hover{
text-decoration: underline;
}
p {
padding-bottom: 18px;
}
#glob {
position:absolute;
width:100%;
height:100%;
overflow:hidden;
z-index:2;
}
.spinner, .spinner_bg {
position:fixed;
left:0px;
top:0px;
width:100%;
height:100%;
z-index:9999;
background:url( "../images/ajax-loader.gif") 50% 50% no-repeat #252626;
}
.spinner_bg {
position:  absolute;
display: inline-block;
width: 100%;
height: 24px;
margin-top: -24px;
background-position: center;
background-color: transparent;
display: none;
}
#bgStretch {
z-index:1;
}
#bgStretch>img {
background: #252626; 
}
.pagin{
position: relative;
text-align: center;
margin: -31px 0 1px;
}
.pagin>ul{
position: relative;
display: inline-block;
padding: 12px 32px 10px;
height: 8px;
background: #fff;
border-radius: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
}
.pagin>ul>li{
position: relative;
display: inline-block;
width: 8px;
height: 8px;
margin: 0 4px;
}
.pagin>ul>li>a, .pagin>ul>li>a>span{
position: relative;
display: inline-block;
width: 100%;
height: 100%;
overflow: hidden;
background: url(../images/pagin_icon.png) bottom center no-repeat;
}
.pagin>ul>li>a>span{
opacity: 0;
-webkit-transition: opacity 0.4s ease-out;
-moz-transition: opacity 0.4s ease-out;
-o-transition: opacity 0.4s ease-out;
-ms-transition: opacity 0.4s ease-out;    
transition: opacity 0.4s ease-out;
background-position: top center;
}
.pagin>ul>li>a:hover>span, .pagin>ul>li.active>a>span {
opacity: 1;
}
header, footer{
position:absolute;
width:100%;
z-index:100;
}
/*header*/
header{
top:0px;
height:104px;
background: url(../images/header_bg.png);
border-bottom: 1px solid #cacaca;
}
/*end header*/
/*footer*/
footer {
bottom: 0px;
height:38px;
background: #343534;
border-top: 1px solid #CACACA;
}
footer p {
position: relative;
font: 14px/16px 'PT Sans Narrow', sans-serif;
text-transform: uppercase;
color: #9e9e9e;
padding: 12px 0 0 3px;
}
footer p a{
color: #9e9e9e;
}
/*end footer*/
/*menu*/
.menu {
position: relative;
display: inline-block;
margin: 22px 0 0 20px;
}
#menu>li {
display: inline-block;
position: relative;
padding-left: 48px;
background: url(../images/menu_divider.png) 0 30px no-repeat;
margin-right: 13px;
}
#menu>li:first-child {
background: none;
padding-left: 0;
}
#menu>li>a {
position: relative;
display: inline-block;
font: bold 18px/1.2em 'PT Sans Narrow', sans-serif;
color: #fff;
text-shadow: #283130 1px 1px 0px;
text-transform: uppercase;
margin-top: 22px;
}
#menu>li>a>strong{
display: inline-block;
position:absolute;
width: 100%;
height: 3px;
top: -22px;
left: 0;
z-index: -1;
background: url(../images/menu_arrow.png) center top no-repeat;
}
.submenu_1, .submenu_2 {
position:absolute;
z-index:9100;
width: 131px;
left: 18px;
top: 83px;
background: url(../images/submenu_bg.png);
padding: 12px 0 10px;
}
.submenu_1 li {
position:relative;
display: block;
margin-top: -3px;
}
.submenu_1 a {
position:relative;
display: inline-block;
font: bold 15px/1.2em 'PT Sans Narrow', sans-serif;
color: #b7b7b7;
text-transform: uppercase;
-webkit-transition: color 0.4s ease-out;
-moz-transition: color 0.4s ease-out;
-o-transition: color 0.4s ease-out;
-ms-transition: color 0.4s ease-out;    
transition: color 0.4s ease-out;
margin-left: 17px;
}
.submenu_1 a>span {
position: relative;
display: inline-block;
width: 5px;
height: 10px;
background: url(../images/submenu_arrow.png) 0 no-repeat;
margin: 3px 0 0 10px;
}
.submenu_1 li>a:hover,.submenu_1 li.sfHover>a{
color:#fff !important;
}
.submenu_2 {
width: 90px;
left: 100%;
top: -7px;
background: #494949;
padding: 10px 0;
}
.submenu_2 a {
color: #fff;
margin-left: 18px;
}
.submenu_2 li>a:hover,.submenu_2 li.sfHover>a{
color:#cbe4e0 !important;
}
.submenu_1, .submenu_2 {
display: none;
}
/*end menu*/
/*pages*/
#logoHolder{
position: relative;
width: 960px;
margin: 0 auto;
}
#content {
position:relative;
width:100%;
margin: 6px auto 0;
z-index: 50;
}
#content>ul {
position: relative;
width:100%;
height: 412px;
background: url(../images/content_bg.png);
margin-top: 31px;
overflow: hidden;
}
#content>ul>li:first-child{
background: none;
height: 0;
}
#content>ul>li {
position:absolute;
width:100%;
height: 412px;
background: none;
overflow: hidden;
}
.readMore {
position: relative;
display: inline-block;
font: 12px/1.2em Tahoma, sans-serif;
color: #272827;
padding: 8px 19px;
background: #ededed;
}
.readMore:hover {
text-decoration: none;  
}
.list1>li{
position: relative;
background: url(../images/list_icon.png) 1px 8px no-repeat;
margin-bottom: 12px;
}
.list1>li>a{
position: relative;
display: inline-block;
color: #b8b8b8;
margin-left: 14px;
}
.list1>li>a>span{
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 1px;
background: #b8b8b8;
width: 0;
}
.list2{
margin-top: 2px;
width: 720px;
}
.list2>li{
position: relative;
display: inline-block;
width: 220px;
float: left;
margin-right: 20px;
}
.list2>li.right{
margin-right: 0;
}
.list2>li>figure>a{
position: relative;
display: block;
width: 220px;
height: 148px;
overflow: hidden;
}
.list2>li>figure>figcaption{
margin-top: 18px;
}
.list3{
margin-top: 2px;
width: 540px;
}
.list3>li{
position: relative;
display: inline-block;
width: 158px;
margin-right: 22px;
float: left;
}
.list3>li.right{
margin-right: 0;
}
.list3>li>img{
margin: 0 0 18px 3px;
}
.list4>li{
position: relative;
display: inline-block;
width: 267px;
margin-right: 60px;
}
.list4>li>h3{
padding-bottom: 3px;
}
/* slider */
.gall_slider{
width: 700px;
height: 189px;
}
.gall_slider2{
width: 518px;
height: 192px;
}
.btnsHolder{
position: absolute;
top: 347px;
z-index: 200;
display: block;
right: 0px;
}
.prev, .next{
display: inline-block;
position: relative;
width: 19px;
height: 19px;
margin-left: 4px;
float: left;
}
.prev, .prev>span{
background: url(../images/arrowL.jpg) left center no-repeat;
}
.next, .next>span{
background: url(../images/arrowR.jpg) left center no-repeat;
}
.prev>span, .next>span{
position: relative;
display: block;
width: 100%;
height: 100%;
background-position: right center;
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-webkit-transition: opacity 0.4s ease-out;
-moz-transition: opacity 0.4s ease-out;
-o-transition: opacity 0.4s ease-out;
-ms-transition: opacity 0.4s ease-out;    
transition: opacity 0.4s ease-out;
}
.prev:hover>span, .next:hover>span{
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* end slider */
.vline{
height: 351px;
background: url(../images/vline.png) 19px 50px no-repeat;  
}
/*scroll*/
.scroll{
float:left;
}
.outside .scroll{
width: 100%;
height: 230px;
}
.scroll-btns{
position: absolute;
top: 348px;
z-index: 200;
display: block;
right: 0px;
}
.btndown, .btnup{
display: inline-block;
position: relative;
width: 19px;
height: 19px;
margin-left: 5px;
float: right;
}
.btndown, .btndown>span{
background: url(../images/arrow_down.jpg) center top no-repeat;
}
.btnup, .btnup>span{
background: url(../images/arrow_up.jpg) center top no-repeat;
}
.btndown>span, .btnup>span{
position: relative;
display: block;
width: 100%;
height: 100%;
background-position: center bottom;
opacity: 0;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-webkit-transition: opacity 0.4s ease-out;
-moz-transition: opacity 0.4s ease-out;
-o-transition: opacity 0.4s ease-out;
-ms-transition: opacity 0.4s ease-out;    
transition: opacity 0.4s ease-out;
}
.btndown:hover>span, .btnup:hover>span{
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/*end scroll*/
.sitem_over {
position:absolute;
background:url( '../images/pic_bg_over.png');
z-index:2;
width:100%;
height:100%;
display:none;
overflow: hidden;
}
.sitem_over>strong {
position:relative;
background:url( '../images/icon_zoom.png') center no-repeat;
width: 100%;
height: 100%;
display: block;
}
/*PADDINGS*/
.padding1 {
padding: 52px 0px 0px 0px;
}
.padding2 {
padding-bottom:27px;
}
.margin1{
margin: 62px 0px 0px 30px;
}
.margin2{
margin: 61px 0px 0px 0px;
}
.color1{
color: #fff;
}
.color2{
color: #b8b8b8;
}
.width1{
display: inline-block;
width: 71px;
}
.fontStyle1{
font: bold 18px/20px 'PT Sans Narrow', sans-serif;
text-transform: uppercase;
color: #e4e4e4;
padding: 2px 0 11px;
}
/*additional classes*/
.fright {
float:right;
}
.wrapper {
width:100%;
overflow:hidden;
}
a {
text-decoration:none;
}
a.und,.und a {
text-decoration:underline;
}
a.und:hover,.und a:hover {
text-decoration:none;
}
.nopad {
padding:0;
}
.clear {
clear:both;
line-height:0;
}
/*google map*/
.google_map{
position:  relative;
overflow: hidden;
border-radius: 0px;
width: 340px;
height: 160px;
border: none;
box-shadow: none;
background-color: #252626;
background-image: url(../images/ajax-loader.gif);
background-repeat: no-repeat;  
background-position: 50%;
margin: 2px 0 18px;
}
/*end google map*/
/* Forms*/
#form1 {
position: relative;
margin-top: 0px;
height: 242px;
}
#form1 input, #form1 textarea, #form1 .success {
position: relative;
background: none;
border: 1px solid #4e4f4e;
color:#b8b8b8;
padding: 12px 16px;
width: 187px;
outline:none;
box-shadow:none;
}
#form1 textarea {
width: 246px;
height: 137px;
overflow:auto;
resize: none;
}
#form1 label {
display:inline-block;
min-height: 61px;
position: relative;
width: 222px;
}
#form1 .success{
position: absolute;
padding: 63px 16px 64px;
background: #252626;
z-index: 10;
top: 0;
left: 0;
text-align: center;
}
#form1 .error, #form1 .empty {
text-align: left;
display:none;
font-size:10px;
color:#fff;
margin-left: 3px;
top: 41px;
position: absolute;
}
#form1 .message{
margin-top: 2px;
}
#form1 .message .error, #form1 .message .empty{
top: 161px;
}
fieldset{
height: 210px;
}
.btns{
padding: 30px 0 0;
position: relative;
float: right;
}
.btns a{
display:inline-block;
margin-left: 28px;
}
/* Form defaults */
input, select, textarea {
font: normal 12px/15px Tahoma, sans-serif;
vertical-align:middle;
}
/*end forms*/